In [1]:
#imports mec-learning

from sklearn.preprocessing import LabelEncoder, LabelBinarizer
import numpy as np
import pandas as pd
import sklearn
from scipy import stats
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import MinMaxScaler, StandardScaler, normalize
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, f1_score
from sklearn import linear_model
from sklearn import metrics,preprocessing
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
clean_data = pd.read_csv("GameData.csv",index_col=0)

In [3]:
df_m =pd.read_csv("GameData.csv",index_col=0)
pd.to_datetime(df_m.Release_Date)
df_m['Release_Date_Year'] = pd.to_datetime(clean_data['Release_Date']).dt.year
df_m.drop(["Last_Update","Release_Date"],axis =1 ,inplace = True)
df_m["Game"]=LabelEncoder().fit_transform(df_m["Game"])
df_m["Console"]=LabelEncoder().fit_transform(df_m["Console"])
df_m["Publisher"]=LabelEncoder().fit_transform(df_m["Publisher"])
df_m["hasScoreBiggerThan5"]=df_m["Critic_Score"]>7
df_m.drop(["Critic_Score"],axis =1,inplace = True)

df_m["hasScoreBiggerThan5"] = df_m["hasScoreBiggerThan5"].astype(int)


xtrain,xtest,ytrain,ytest =train_test_split(df_m.drop("hasScoreBiggerThan5",axis=1),df_m["hasScoreBiggerThan5"],random_state=0)
clf =LogisticRegression()
clf.fit(xtrain,ytrain)
acc = clf.score(xtest,ytest)
print(f"acc is : {acc}")

acc is : 0.8487484089944846

In [6]:
df_m =pd.read_csv("GameData.csv",index_col=0)
pd.to_datetime(df_m.Release_Date)
df_m['Release_Date_Year'] = pd.to_datetime(clean_data['Release_Date']).dt.year
df_m.drop(["Last_Update","Release_Date"],axis =1 ,inplace = True)
df_m["Game"]=LabelEncoder().fit_transform(df_m["Game"])
df_m["Console"]=LabelEncoder().fit_transform(df_m["Console"])
df_m["Publisher"]=LabelEncoder().fit_transform(df_m["Publisher"])
df_m["Total_Sold"]=df_m["Total_Shipped"]>500000
df_m.drop(["Total_Shipped"],axis =1,inplace = True)

df_m["Total_Sold"] = df_m["Total_Sold"].astype(int)


xtrain,xtest,ytrain,ytest =train_test_split(df_m.drop("Total_Sold",axis=1),df_m["Total_Sold"],random_state=0)
clf =LogisticRegression()
clf.fit(xtrain,ytrain)
acc = clf.score(xtest,ytest)
print(f"acc is : {acc}")

acc is : 0.7931692829868476

In [7]:
df_m

        Game  Console  Publisher  Critic_Score  Release_Date_Year  Total_Sold
0      12842       35        590           7.7               2006           1
1      10837       14        590          10.0               1985           1
2       1962       18        889           0.0               2012           1
3       6483       16        590           9.3               2017           1
4       6486       35        590           8.2               2008           1
...      ...      ...        ...           ...                ...         ...
18848   5019       38        110           0.0               2006           0
18849   9820       37         15           0.0               2010           0
18850   3048        5         83           0.0               2008           0
18851   5000       35        214           0.0               2010           0
18852  10049        5        192           0.0               2008           0

[18853 rows x 6 columns]